<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.gitframeapacas">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyf1RJGMhVWBLrV-L3dQkbMjt2C2aqxLQ" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".HelpActivity"
            android:theme="@style/AppTheme.Menu"></activity>

        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".SettingActivity"
            android:theme="@style/AppTheme.Menu"></activity>

        <activity
            android:name=".DistrictActivity"
            android:parentActivityName=".DistrictActivity"
            android:theme="@style/AppTheme.Menu"></activity>

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.Menu"></activity>

        <activity
            android:name=".RecommendActivity"
            android:parentActivityName=".RecommendActivity"
            android:theme="@style/AppTheme.Menu"></activity>
        <activity
            android:name=".GraphGasActivity"
            android:parentActivityName=".GraphGasActivity"
            android:theme="@style/AppTheme.Menu"></activity>


    </application>

</manifest>